.weather-form {
  margin-bottom: 30px;
  display: flex;
  border-radius: 3px;
}

.weather-form__input[type="text"] {
  font-family: "Open Sans", serif;
  background-color: transparent;
  font-weight: 700;
  letter-spacing: 0.7px;
  border: 0;
  border-bottom: solid 2px #113a65;
  width: 50%;
  color: #113a65;
  margin-right: 20px;
  font-size: 20px;
  margin-top: 2px;
  outline: none;
}

.weather-form__input::-webkit-input-placeholder {
  color: #103a65;
}

.weather-form__input::-moz-placeholder {
  color: #103a65;
}

.weather-form__btn {
  font-family: "Open Sans", serif;
  border: none;
  padding: 8px 20px;
  letter-spacing: 0.4px;
  font-weight: 600;
  border-radius: 2px;
  cursor: pointer;
  background-color: #0d6b93;
  color: #fff;
  outline: none !important;
  transition: opacity 0.3s;
}

@media (min-width: 1025px) {
  .weather-form__btn:hover {
    opacity: 0.8;
  }
}
@media (max-width: 1280px) {
  .weather-form__btn {
    font-size: 14px;
  }

  .weather-form__input {
    font-size: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .weather-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .weather-form__btn {
    font-size: 14px;
    margin-top: 20px;
  }

  .weather-form__input {
    height: 41px;
    margin: 0px;
    width: 100%;
  }
}
