.info {
  flex-basis: 45%;
  background: url("../../assets/img/background.jpg") center center no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid #1f1f1f;
  border-right: 2px solid #131e29;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
}

.info h1 {
  font-size: 3em;
  color: #fff;
}

.info p {
  color: #e4e4e4;
  font-weight: bold;
}
@media (max-width: 1280px) {
  .info h1 {
    font-size: 26px;
  }

  .info p {
    font-size: 15px;
  }
}
