.info h1 {
  font-size: 3em;
  color: #fff;
}

.info p {
  color: #e4e4e4;
  font-weight: bold;
}
@media (max-width: 1280px) {
  .info h1 {
    font-size: 26px;
  }

  .info p {
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  .info {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
