.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 500px;
  background: rgba(0, 0, 0, 0);
  box-shadow: 0px 2px 80px -20px rgba(0, 0, 0, 0.5);
  width: 70%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
}

@media (max-width: 1280px) {
  .main {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .main {
    flex-direction: column;
    height: 620px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    height: calc(100% - 100px);
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .main {
    width: 100%;
  }
}

.title-block {
  flex-basis: 45%;
  background: url("../../assets/img/background.jpg") center center no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid #1f1f1f;
  border-right: 2px solid #131e29;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.weather-block {
  flex-basis: 55%;
  padding-right: 25px;
  padding-top: 100px;
  padding-left: 50px;
  border-top: 2px solid #113a65;
  border-bottom: 2px solid #113a65;
  border-right: 2px solid #113a65;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media (max-width: 1280px) {
  .weather-block {
    padding-top: 90px;
    padding-left: 30px;
    padding-right: 20px;
  }
}
@media (max-width: 1024px) {
  .weather-block {
    padding-top: 45px;
    border-left: 2px solid #113a65;
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

@media (max-width: 768px) {
  .weather-block {
    padding-top: 40px;
    padding-left: 25px;
  }
}

@media (max-width: 576px) {
  .weather-block {
    padding-top: 30px;
  }
}
@media (max-width: 1024px) {
  .title-block {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
